CATKIN_IGNORE

build/
devel/
catkin_ws/bin/
catkin_ws/include/
catkin_ws/lib/
catkin_ws/share/
.catkin_tools/

.vscode
.catkin_workspace
*.bag
*.pkl
*.swp
*.pyc
*.graph
*.so
*.png
*.wav
*.zip
*.jpg
*.mat
*.pdf
*.csv
checkpoint.pth.tar
hand_pose_resnet18_att_244_244_trt.pth

